:root {
  --text-light: #3c4043;
  --text-dark: #202124;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  border: none;
  text-decoration: none;

  font: 14px / 28px sans-serif;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  height: 48px;
  padding: 8px 18px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li button {
  background-color: #1a73e8;
  color: white;
  padding: 6px 27px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none !important;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

nav ul li button:hover {
  transform: scale(1.05);
  background-color: #1765cc;
}

.sign-in-button {
  display: inline-block;
  background-color: #1a73e8;
  color: white;
  padding: 6px 27px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  text-decoration: none;
}

.sign-in-button:hover {
  text-decoration: none;
  transform: scale(1.05);
  background-color: #1765cc;
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

main {
  height: 80vh;
  text-align: center;
}

main .google_logo {
  max-height: 300px;
  max-width: 300px;
  margin-top: 100px;
}

.google_logo img {
  max-height: 240px;
  margin-left: 150px;
}

main .google_search {
  max-height: 400px;
  /* background-color: red; */
  padding: 20px;
}

main .google_search .search_field {
  max-width: 580px;
  height: 44px;
  align-items: center;
  justify-content: center;
  padding: 10px 8px 10px 16px;

  display: flex;
  border: 1.8px solid #dfe1e5;
  border-radius: 24px;
}

main .google_search .search_field:hover {
  box-shadow: 0 1px 6px #202124;
  border-color: #dfe1e500;
}

main .search_field .search_field_icon:not(:first-child) {
  padding: 0 8px;
}

main .search_field .search_field-input input {
  width: 445px;
  height: 34px;
  padding: 0 24px 0 8px;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}

.search_field_input {
  position: relative;
}

.clear {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  top: 0;
  /* top: 52.8%;
  right: 760px;
  transform: translateY(-50%);
  font: #202124; */
  /* Adjust this value to position it behind the mic */
}

main .google_search_btns {
  padding-top: 18px;
}

main .google_search_btns button {
  background-color: #f8f9fa;
  color: var(--text-light);
  padding: 4px 16px;
  margin: 11px 4px;

  border: 1px solid #f8f9fa;
  border-radius: 4px;
  user-select: none;
}

main .google_search_btns button:hover {
  background-color: #f8f9fa;
  color: var(--text-dark);
  padding: 4px 16px;
  cursor: pointer;
}

.doodles {
  background-color: #f8f9fa;
  color: var(--text-light);
  padding: 4px 16px;
  margin: 11px 4px;

  border: 1px solid #f8f9fa;
  border-radius: 4px;
  user-select: none;
}

.doodles:hover {
  background-color: #f8f9fa;
  color: var(--text-dark);
  padding: 4px 16px;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 12px 20px;
  background-color: #f2f2f2;

  display: flex;
  justify-content: space-between;
}

footer .footer_link {
  margin: 0 8px;
}
